body {
    background-color: #c3baf7;
    font-family: verdana, helvetica, arial, sans-serif;

    margin-top: 36px;   margin-left: 36px;
}
h5 {
    margin-bottom: 0;       margin-top: 0;
    color: #1c0d72;
    font-size: 18px;
}
p {
    font-size: 15px;    color: #110844;
    margin-top: 5px;
}
#intro {
    margin-bottom: 18px;
}
#enter_bday {   /* the text-box */
    border: 3px solid crimson;      border-radius: 9px;
    padding: 5px;       font-size: 15px;
}
#button_spot {
    display: inline;        
    width: 180px;
    /* ooo! cool! 
        "Property is ignored due to the display. 
        With 'display: inline', the width, height, 
        margin-top, margin-bottom, and float properties 
        have no effect. */
    /*border: 1px solid crimson;*/
}
#click_me {     /* the button */
    background-color: crimson;      color: ghostwhite;
    border: 3px solid crimson;      border-radius: 9px;
    padding: 5px;       font-size: 15px;
    font-weight: bold;
}
#click_me:hover {
    border: 3px solid #1c0d72;
}
#reset {     /* the button */
    background-color: crimson;      color: ghostwhite;
    border: 3px solid crimson;      border-radius: 9px;
    padding: 5px;       font-size: 15px;
    font-weight: bold;
}
#reset:hover {
    border: 3px solid #1c0d72;
}
#result {   /* 'your life-path number is: */
    margin-top: 18px;
}
#life_path_number { /* the span */
    color:#1c0d72;      font-weight: bold;
}
#list_header {
    margin-top: 36px;      margin-bottom: 0;
    color: #1c0d72;
    font-size: 18px;    font-weight: bold;
    /*border: 1px solid black;*/
}
#list_holder {
    margin-top: 0;
    /*border: 1px solid black;*/
}
#list_spot {
    margin-top: 5px;
    font-size: 15px;    color: #110844;;
    /*border: 1px solid green;*/
}
.myfoot {
    /*position: fixed-bottom;*/
    /* no!  NOT fixed-bottom */
    /* need to get exactly why though */
    position: fixed;
    left: 0;    bottom: 0;
    width: 100%;    height: 23px;
    background-color: #1c0d72;      color: ghostwhite;
    font-size: 15px;        text-align: right;
    padding-top: 5px;

    /* won't set it in slightly from the right... */
    padding-right: 18px;

    /* the below does nothing here */
    vertical-align: bottom;
    /* i'm guessing it would have to be applied 
        directly to the text w/ a <div> */
}
/*===============================================================*/
@media only screen and (max-width: 450px) {
    #button_spot {
        display: block;
        width: 180px;
        margin-top: 13px;
        /*border: 1px solid crimson;*/
    }
    #list_header {
        font-size: 15px;
    }
} 
/*===============================================================*/
