ul.nav {
    list-style-type: none; 
    margin: 0; 
    padding: 0;
  }

li.nav {
    display: inline; 
    text-decoration: none; 
    font-weight: bold; 
    padding-left: 9px; 
    padding-right: 9px;
  }

  /* gotta do Link-Visited-Hover-Active */
  a.nav:link {
    /* just plain link in it's start state */
    text-decoration: none; 
  }

  a.nav:visited {
    text-decoration: none;
  }

  a.nav:hover {
    text-decoration: none;
    color: #9900ff;
  }

  a.nav:active {
    text-decoration: none;
  }