ul.nav_ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0;
  }

li.nav_li {
    display: inline; 
    text-decoration: none; 
    font-weight: bold; 
    padding-left: 18px; 
    padding-right: 18px;
  }

  /* gotta do Link-Visited-Hover-Active */
  a.nav_a:link {
    /* just plain link in it's start state */
    text-decoration: none; 
  }

  a.nav_a:visited {
    text-decoration: none;
  }

  a.nav_a:hover {
    text-decoration: none;
    color: #9900ff;
  }

  a.nav_a:active {
    text-decoration: none;
  }