.main {
    background-color: #ff4d4d;  /* watermelon insides! */
  }
.myhead {                       /* watermelon rind! */
    background-color: green;  color: green;
}
.middle_part {
    /*border: 1px solid blue;     /* for testing purposes! */
}
.headline {
    /* so like the seeds! */ color: black;
    margin-top: 9px;        margin-bottom: 3px;
    font-size: 21px;        font-weight: bold;
}
h3 { 
    font-size: 18px;    margin-bottom: 3px;
}
h5 { 
    font-size: 15px;    margin-bottom: 3px;
}
p { 
    font-size: 14px;    margin-bottom: 3px;
}
/*-------------------------------------------------------------------*/
form {
    /* border: 1px solid yellow;   /* for testing! */
}
#g_oz { /* this is the text input box */
    /*width: 75%;*/      font-size: 10px;   margin-right: 18px;  
    border: 3px solid green;          margin-top: 18px;
    /* wth did i ever have a width on this, ever? */
}
.radios {
    margin-top: 0;    /*margin-bottom: 18px;*/
    /*margin-right: 18px;         /*border: 1px solid yellow;*/
}
#conversion {
    color: green;   font-size: 18px;  font-weight: bold;
    margin-top: 9px;  margin-left: 9px;
}
/*-------------------------------------------------------------------*/
#list_header {
    font-size: 14px;    font-weight: bold;
    margin-top: 9px;    margin-left: 9px;
  }
  #list_holder {
    margin-bottom: 45px;
}
#list_spot {
    margin-top: 1px;      font-size: 12px;
}
/*-------------------------------------------------------------------*/
.myfoot {
    background-color: green;  color: white;
}
/*-------------------------------------------------------------------*/
/*----------------LINKS STUFF-----------------------*/
/* order rules:                                    */
/* a:hover MUST come AFTER a:link -AND- a:visited */
/* a:active MUST come AFTER (or with) a:hover    */
/*----------------------------------------------*/
.mybutton {
    background-color: green;    color: white;
    border-color: green;    border-radius: 18px;
}
.mybutton:hover {
    background-color: green;    color: white;
    border: 1px solid white;
}
.mybutton:focus {
    background-color: green;    color: white;
    border: 1px solid white;
}
.mybutton:active {
    background-color: green;    color: white;
    border: 1px solid white;
}
/*-------------------------------------------------------------------*/
/* just trying some stuff out..... */
#convert_button {
    display: block;   /* this does not work at ALL */
    /* but that's okay -- just had a design idea  [=  */
} 
/* this will *not* apply itself */
/* when the id is given to the button itself */
/* so had to put reset button in a div */
/* then give the id to the div */
#reset_button {
    margin-left: 9px;    /*background-color: blue;*/
    float: right;               /* for testing purposes! */
}
/*===================================================================*/
/*==================================================================*/
/* the media queries!  so it doesn't look stupid at certain widths  */
/* W3Schools has these as 'common device widths' */

/*-------------------------------------------------------------------*/
/* i added this one myself -- just seeing what would happen -- b/c */
/* i wanted to make '.headline' smaller px so it stayed on one line */
/* but it does not work!  wonder why not?  hmmmmm.....    */
/* setting it to 'min-width' does not do anything, either */
@media only screen and (min-width: 570px) {
    .headline {
        font-size: 21px;
        /* the width of 565px is where this breaks to 2 lines */
    }
    h3 { 
        font-size: 18px;
    }
    h5 { 
        font-size: 15px;
    }
    p { 
        font-size: 15px;
    }
    #g_oz { /* this is the text input box */
        font-size: 15px;   
    }
    .radios {                    /* obviously for testing! */
        width: 300px;           /*border: 1px solid purple;*/
    }
}
/*-------------------------------------------------------------------*/
/* Extra small devices (phones, 600px and down) */
/* they had: '(max-width: 600px)' */
/* i set it like this, to work the way i wanted, w/ my button layout */
@media only screen and (max-width: 730px) {
    .headline {
        font-size: 24px;
    }
    h3 { 
        font-size: 21px;
    }
    h5 { 
        font-size: 18px;
    }
    p { 
        font-size: 15px;
    }
    #g_oz { /* this is the text input box */
        font-size: 15px;   
    }
    .radios {                    /* obviously for testing! */
        width: 300px;           border: 1px solid red;
        /* px works best for this part */   /* %'s screw it up */
    }
}
/*-------------------------------------------------------------------*/
/* i need to figure out exactly how this varies from the above one */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .headline {
        font-size: 27px;
    }
    h3 { 
        font-size: 21px;
    }
    h5 { 
        font-size: 18px;
    }
    p { 
        font-size: 15px;
    }
    #g_oz { /* this is the text input box */
        font-size: 15px;  
    }
    .radios {                        /* obviously for testing! */
        /*width: 300px;*/           border: 1px solid orange;
    } 
}
/*-------------------------------------------------------------------*/
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .headline {
        font-size: 30px;
    }
    h3 { 
        font-size: 24px;
    }
    h5 { 
        font-size: 21px;
    }
    p { 
        font-size: 18px;
    }
    #g_oz { /* this is the text input box */
        font-size: 18px;  
    }
    .radios {                        /* obviously for testing! */
        /*width: 300px;*/           border: 1px solid yellow;
    } 
}
/*-------------------------------------------------------------------*/
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 920px) {
    .headline {
        font-size: 33px;
    }
    h3 { 
        font-size: 27px;
    }
    h5 { 
        font-size: 24px;
    }
    p { 
        font-size: 18px;
    }
    #g_oz { /* this is the text input box */
        font-size: 18px;  
    }
    .radios {                    /* obviously for testing! */
        width: 45%;             border: 2px dotted green;
        /* but % *does* work better, here! */
    } 
}
/*-------------------------------------------------------------------*/
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1230px) {
    .radios {                    /* obviously for testing! */
        width: 160px;           border: 1px solid blue;
        /* at first i thought % was better here..... */
        /* but NO!  this does.   [=   */
    } 
}
/*-------------------------------------------------------------------*/
/* added this extra one to make the buttons do what i want them to! */
/*      well, *be* where i want them to! */
@media only screen and (min-width: 1340px) {
    .radios {                    /* obviously for testing! */
        width: 225px;           border: 1px solid white;
        /* % works better, here, too! */
    } 
}
/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
/*  note: the 'only' keyword means:
    "The only keyword prevents older browsers that do not support 
    media queries with media features from applying the specified 
    styles. It has no effect on modern browsers. "
    
    the 'not' keyword means: 
    "reverts the meaning of an entire media query."

    the 'and' keyword means:
    "combines a media feature w/a media type or other media features."

    "They are all optional. However, if you use not or only, 
    you must also specify a media type."
    */
/*-------------------------------------------------------------------*/
  