/* okay -- so FINALLY the class & ID's i made */
/* finally DID start over-riding!  yay!!!    */

.headline {
    color: midnightblue;
}

/* okay -- so all the a:whatevers work & over-ride... */
/* but nothing else!!!  wtf?!                       */
a.official:link {
    color: slateblue;
    text-decoration: none;
}

a.official:visited {
    color: royalblue;
    text-decoration: none;
}

a.official:hover, a:active {
    color: springgreen;
    text-decoration: none;
}
/* When setting the style for several link states, */
/* there are some order rules:                    */
/* a:hover MUST come after a:link and a:visited  */
/* a:active MUST come after a:hover             */



#desc {
    background-color:tomato;
    /* why is this not working from here?? */
    /* boo!!!  =[                         */
}

#photos {
    background-color: orange;
    /* of course, this isn't working either */
    /* these id selectors should TOTALLY over-ride */
    /* the class stuff!!                        */ 
}


.fun {
    list-style-type: circle;
}

li {
    margin-bottom: 9px;
}

