body {
    background-color: #d9b3ff;
    color: #26004d;
    padding-top: 18px;
}
/******************************* MY NAVBAR ***************************/
.my_nav {
    background-color: #26004d;          /* color: #d9b3ff; */
    height:18px;                        color:#26004d;
}
/***************************** MY MAIN CONTAINER-FLUID ***************/
.my_main {
    /* for wireframe\testing */
    /* border: 1px solid orangered;
    margin: 5px 0px; */
    padding: 0px;
}
/******************************** MY ROWS ****************************/
.my_row_01 {
    padding-bottom: 15px;
    /* for wireframe\testing */
    /* border: 1px solid black;
    margin: 5px 0px; */
}
.my_row_02 {
    /* for wireframe\testing */
    /* border: 1px solid black; */
}
.my_row_03 {
    /* for wireframe\testing */
    /* border: 1px solid black; */
}
/****************************** MY COLUMNS ***************************/
.my_col_01 {
    padding-top:18px;
    background-color: #b366ff;
    /* for wireframe\testing */
    /* border: 1px solid crimson; */
}
.image_box {
    text-align:center;
}
.me {
    max-width:96%;
    height:auto;
    text-align:center;
    margin-top:5px;
    border:1px solid #26004d;
    border-radius:180px;
}
.col_01_image {
    max-width:96%;
    height:auto;
    margin-top:5px;
    border:1px solid #26004d;
    border-radius:5px;
}
.my_col_02 {
    padding-top:35px;
    /* for wireframe\testing */
    /* border: 1px solid crimson; */
}
.my_col_03 {
    /* for wireframe\testing */
    /* border: 1px solid crimson; */
}
/******************************* MY TABS *****************************/
.my_tabs {
    padding: 1px 2px 1px 2x;
    background-color: #26004d;          color: #d9b3ff;
    border: 1px solid #d9b3ff;
    border-radius: 11px 11px 0px 0px;
    /* what is with the fucking font-size?  looks fine local -- 
        and way too freaking huge live.....                          */
    font-size:14px;
}
/* li a .active {
    background-color: #26004d;
} */
    /* so do we have to have them all & in the right order here too? */
    .my_tabs:link {
        color: #d9b3ff;
        border: 1px solid #d9b3ff;
        border-radius: 9px 9px 0px 0px;
    }
    .my_tabs:visited {
        color: #d9b3ff;
        border: 1px solid #d9b3ff;
        border-radius: 9px 9px 0px 0px;
    }
    .my_tabs:hover {
        color: #26004d;
        border: 1px solid #d9b3ff;
        border-radius: 9px 9px 0px 0px;
    }
    .my_tabs:active {
        color: #26004d;
        border: 1px solid #d9b3ff;
        border-radius: 9px 9px 0px 0px;
    }
    .my_tabs a:hover {
        color: #ff3333;
    }
    .my_tabs a:active {
        color: #ff3333;
    }
.my_tab_panels {
    /* top right bottom left */ /* like clock-wise */
    border: 1px 1px 1px 1px; /* why is it so thick? */
    border-style: solid solid solid solid;
    border-color: #26004d;
    border-radius: 1px 1px 5px 5px;
    padding: 5px 5px 5px 5px;
    margin: 0px 0px 15px 0px;
    background-color: #d9b3ff;
    font-size: 15px;
}
.my_res_left {
    padding:9px; 
    border-width:1px 0px 1px 1px ; 
    border-style: solid;
    border-color: #26004d;
    border-radius: 1px 0px 0px 5px;
/*     background-color:#8000ff; 
    color:#d9b3ff; */
}
.my_res_right {
    padding:9px; 
    border:1px solid #26004d; 
    border-radius: 0px 1px 5px 0px;
    /* background-color:#8000ff; 
    color:#d9b3ff; */
}
.my_edu_left {
    padding:9px; 
    border-width:1px 0px 1px 1px ; 
    border-style: solid;
    border-color: #26004d;
    border-radius: 1px 0px 0px 5px;
    /* background-color:#8000ff; 
    color:#d9b3ff; */
}
.my_edu_right {
    padding:9px; 
    border:1px solid #26004d; 
    border-radius: 0px 1px 5px 0px;
    /* background-color:#8000ff; 
    color:#d9b3ff; */
}
.my_edu_logo {
    float:left; 
    max-width:90px; 
    height:auto; 
    margin-right:9px;
}
.me_online_li {
    margin-bottom:5px;
    font-size: 18px;
    font-weight: bold;
}
/***************************** MY FOOTER *****************************/
.my_foot {
    background-color: #26004d;  color: #d9b3ff;
    height: 18px;
    font-size:13.5px;
 }
/*************************** MY BUTTONS ******************************/
.my_button {
    background-color: #26004d;    color: #d9b3ff;
    border-color: #26004d;    border-radius: 18px;
}
.my_button:hover {
    background-color: #26004d;    color: #d9b3ff;
    border: 1px solid #d9b3ff;
}
.my_button:focus {
    background-color: #26004d;    color: #d9b3ff;
    border: 1px solid #d9b3ff;
}
.my_button:active {
    background-color: #26004d;    color: #d9b3ff;
    border: 1px solid #d9b3ff;
}
/******************************** MY LINKS ***************************/
/* When setting styles for several link states, there are order rules:
            a:hover MUST come after a:link and a:visited
            a:active MUST come after a:hover
 */
a:link {
    color: #d9b3ff;
    text-decoration: none;
}
a:visited {
    color: #d9b3ff;
    text-decoration: none;
}
a:hover {
    color: #ff3333;
    text-decoration: none;
}
a:active {
    color: #ff3333;
    text-decoration: none;
}
/***************************************************************************************/
/*                                 MEDIA QUERIES!                                      */
/*=====================================================================================*/
/* responsive stuff for the couple of spots that need that                             */
/*      beyond what bootstrap provides anyway                                          */
/*=====================================================================================*/
/*================================= 'TYPICAL' PHONES ==================================*/
@media only screen and (max-width: 500px) {

}
/*============================== OLD &/OR SKINNY PHONES ===============================*/
/* media Query for really old/skinny phones like iPhone 5/SE.....                      */
@media only screen and (max-width: 400px) {
    /* so 400px wide and narrower */

}
/*============================== stupid navbar shit ===================================*/
@media only screen and (min-width: 768px) {
    /* ACTUALLY -- this is for Chromebook-widths..... right?                           */
    .our_navbar {
        height: 42px;
    }
}
/*=====================================================================================*/
/*================================== HEIGHT ===========================================*/
/**/
/*============================= FOR SIDEWAYS PHONES ===================================*/
@media only screen and (max-height: 425px) { /* so 425px and shorter */

}